@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~react-toastify/dist/ReactToastify.min.css';

body {
  -webkit-tap-highlight-color: transparent;
}


.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.primary-button-bg {
  background: linear-gradient(90deg, #144EE3 -15.73%, #F42A8B 115.73%);
}

.hero-heading {
  background: linear-gradient(90deg, #144EE3 -0.02%, #EB568E 30.06%, #A353AA 75.35%, #144EE3 100.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.share-modal-shadow {
  box-shadow: 0px 0px 77.8px 17px rgba(108, 114, 255, 0.41);
}

.share-modal {
  position: relative;
  /* Make sure the modal is positioned relative to allow the pseudo-element */
}

.share-modal::before {
  content: '';
  position: absolute;
  top: -60px;
  left: -60px;
  right: -60px;
  bottom: -60px;
  background: linear-gradient(90deg, #144EE3 -15.73%, #F42A8B 115.73%);
  z-index: -1;
  filter: blur(150px);
  opacity: 0.6;
  border-radius: 1px;
}

.fir-edit-bg {
  background: rgba(140, 140, 154, 0.12);
  box-shadow: 0px 0px 13.6px 0px rgba(52, 67, 198, 0.46) inset;
}

.fir-delete-bg {
  background: rgba(205, 29, 50, 0.25);
  box-shadow: 0px 0px 5.4px 0px rgba(205, 29, 50, 0.76) inset;
}

.active-status {
  background: rgba(40, 86, 48, 0.28);
  box-shadow: 0px 0px 9.4px 2px rgba(106, 196, 120, 0.43) inset;
}

.inactive-status {
  background: rgba(132, 116, 66, 0.234);
  box-shadow: 0px 0px 9.4px 2px rgba(183, 176, 81, 0.43) inset;
}

.expired-status {
  background: rgba(104, 71, 54, 0.28);
  box-shadow: 0px 0px 9.4px 2px rgba(187, 96, 46, 0.43) inset;
}